{
    "plugins": [
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "@/utils": "./src/utils",
              "@/pages": "./src/pages",
              "@/models": "./src/models",
              "@/navigator": "./src/navigator",
              "@/config": "./src/config",
              "@/compontents": "./src/components",
              "@/assets": "./src/assets",
              "@/server": "./src/server"
            }
          }
        ]
      ]
}